{% extends "lab_8/layout/base.html" %}
{% block content %}

<div id='login_button'>
<button id='button_login' class='btn' onclick="facebookLogin()">Login with Facebook</button>
</div>

<div id='login_available' style='display:none'>

<h1> Welcome! </h1>
<!-- <textarea rows="4" cols="50" id='messageToPost'> </textarea>
<button onclick="PostMessage()">Post</button> -->
	<!-- <div class='wrapper text-center'> -->
		<div class='btn-group-lg'>
			<button class='btn' onclick="postStatus()">Post with Facebook</button>
			<button class='btn' onclick="getUserData()">Get user data</button>
			<button class='btn' onclick="facebookLogout()">Logout with Facebook</button>
		</div>
	<!-- </div> -->

	<div class = 'wrapper-feed'>
		<h2> Latest Status: </h2>
		<h3 id='latest'> </h3>
		<h5 id='latest_time'> </h5>
	</div>

<div id='profile_data' style="display:none">
	<table align="center" class='table-striped' style="text-align: center">

		<tr>
            <td>Name: </td>
            <td id='name'> <td>
        </tr>
   
        <tr>
            <td>First Name: </td>
            <td id='firstname'> <td>
        </tr>

        <tr>
            <td>Last Name: </td>
            <td id='lastname'> <td>
        </tr>

        <tr>
            <td>Gender: </td>
            <td id='gender'> <td>
        </tr>

        <tr>
            <td>Age: </td>
            <td id='age'> <td>
        </tr>
</table>

</div>

</div>

{% endblock %}
