<div class="container-fullwidth">
  <nav class="navbar navbar-default" style="background-color:black;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'lab-9:index' %}"style= "color:white;">Lab 9 PPW Faraya</a>
        {% if login %}
        <li class="active"><a href="{% url 'lab-9:auth_logout' %}" style= "color:white; float:left-side;" onclick="return confirm('Keluar?')">Logout</a></li>
        {% endif %}
        </div>
    </div>
  </nav>
</div>





