body{
	font-family: 'Joe Kral';
}

#login_button{
	display: flex;
  	align-items: center;
  	justify-content: center;
}

h1{
	margin: 50px;
	text-align: center;
	font-family: 'Joe Kral';
	font-weight: bold;
	font-size: 52px;
	color: #23355b;
}

#button_login{
	padding: 30px 30px;
	font-size: 36px;
	color: white;
	background-color: #1c2d83;
	text-align: center;
	position: absolute;
	top: 40%;
}

#button_login:hover{
	transition-duration: 0.4s;
	background-color: #3b5998;
}

#login_available{
	height: 100vh;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	text-align: center;
}

.btn{
	background-color: #3b5998;
	color: white;
}

.btn-group-lg{
    margin-top: 30px;
}

h2{
	border-bottom: 5px solid #3b5998;
}

.wrapper-feed{
	background-color: #8b9dc3;
	padding: 20px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#profile_data{
	padding: 20px;
	margin-top: 220px;
}

.table-striped{
	width: 500px;
	height: 200px;
	font-size: 20px;
}
