{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
		$( document ).ready(function () {
            {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list' %}", 
                success: function (friend_list) {	
					console.log("masuk")
					var listFriends = JSON.parse(friend_list)
                    var html = '<div class="alert alert-danger text-center">\
                            <strong>Opps!</strong> Tidak ada mahasiswa\
                        </div>';
                    if(listFriends.length==0){
                        $("#friend-list").append(html)
                    }
                    else{
                        $.each(listFriends, function(faraya, friend){
                            var button = '<span class="pull-right">'+
                                            '<button type="button" class="btn btn-xs btn-danger"'+
                                            'onClick="deleteFriend('+friend.pk+')">'+
                                                '&times;'+
                                            '</button>'+
                                         '</span>';
                            
                            var html = '<a class="list-group-item clearfix">'+
                                        friend.fields.friend_name +
                                        ' (' + friend.fields.npm + ')' + button + '</a>';
                            $("#friend-list").append(html)

                        });
                    }
                },

            });
        });
		const deleteFriend = function(id){
            window.open('delete-friend/' + id + '/', '_self');}

    </script>
{% endblock %}